{{ define "yield" }}
<div class="title text-center text-white mt-4">
    <h3>Login</h3>
</div>
<form method="POST" action="/login">
    <fieldset>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="email" name="email" aria-label="First name" class="form-control">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" aria-label="First name" class="form-control">
        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
        <p class="input-group">
            Don't have an account? <a href="/signup"> signup</a>
        </p>
    </fieldset>
</form>
{{ end }}