{{ define "yield" }}
<style>
    .btn-primary {
        background: #DF6FD0;
        border-color: #DF6FD0;
    }

    .title {
        font-family: 'Roboto', sans-serif;
        color: rgb(255, 255, 255);
    }

    .jumbotron {
        background: none;
    }

    .jumbotron>.title {
        font-weight: bold;
        font-size: 3em;
    }

    .card-deck {
        margin: 50px 0px 50px 0px;
    }

    .card {
        border: none;
        color: #1F1F2F;
    }

    .one {
        background: #D3E8E1;
    }

    .two {
        background: #6ADDA6;
    }

    .two {
        background: #F89865;
    }

    .three {
        background: #FBF1AF;
    }

    .four {
        background: #F3A2BB;
    }

    .five {
        background: #A3C4FC;
    }

    .six {
        background: #F8E8C7;
    }

    .card-title {
        font-weight: bold;
    }
</style>
<div class="jumbotron">
    <h3 class="title text-center">
        Profile
    </h3>
    <hr>
    <div class="text-center">
        <a href="/signup" class="btn btn-primary">
            Create a Profile
        </a>
    </div>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card one">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <br>
                <p class="card-text">With supporting text below as.</p>
            </div>
        </div>
        <div class="card two">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <br>
                <p class="card-text">With supporting text below as.</p>
            </div>
        </div>
        <div class="card three">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <br>
                <p class="card-text">With supporting text below as.</p>
            </div>
        </div>
    </div>
    <div class="card-deck mt-4">
        <div class="card four">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <br>
                <p class="card-text">With supporting text below as.</p>
            </div>
        </div>
        <div class="card five">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <br>
                <p class="card-text">With supporting text below as.</p>
            </div>
        </div>
        <div class="card six">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <br>
                <p class="card-text">With supporting text below as.</p>
            </div>
        </div>
    </div>
</div>
{{ end }}